html, body {
    width: 250px;
    background-color: rgb(17, 41, 57);
    color: white;
  }
  
  .hidden {
    display: none;
  }

  
  .reset:hover {
    background-color: #EAEA9D;
  }

  #inputCodeTarget {
    background-image: url("./img/input.png");
    border-radius: 3px;
    width: 100px;
  }

  #inputButtonTarget {
    padding-top: 3px;
    cursor: pointer;
    text-align: center;
    background-color: rgb(31, 53, 71);
    width: 100px;

  }
  #inputCodeDestination {
    background-image: url("./img/input.png");
    border-radius: 3px;
    width: 100px;
  }

  #inputButtonDestination{
    padding-top: 3px;
    cursor: pointer;
    text-align: center;
    background-color: rgb(31, 53, 71);
    width: 100px;

  }