html, body {
    width: 250px;
  }
  
  .hidden {
    display: none;
  }
  
  .button {
    margin: 3% auto;
    padding: 4px;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
  }
  
  .fill {
    background-color: #EAEA9D;
  }
  
  .reset:hover {
    background-color: #EAEA9D;
  }